 body {
     margin: 0
 }

 .link {
     color: "inherit";
     text-decoration: "none"
 }

 .link:hover {
     color: "limegreen";
     text-decoration: "none"
 }

 .category-button {
     color: "white";
     background: none;
     font-size: 24;
     text-transform: "uppercase";
     text-decoration: "none";
     font-family: "consolas"
 }

 .category-button:hover {
     background: "none";
     border-radius: 0;
     border-bottom: "3px solid white";
 }